nav {
  width: 100%;
  height: 138px;
  background-color: #ffffff;
  display: flex;
  justify-items: center;
}

.navContainer {
  max-width: 1350px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.searchInput {
  font-family: "Tajawal", sans-serif;
}
.header-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

#leftBtn {
  width: 186px;
  border: 1px solid #4da05b;
  border-radius: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 4px;
}

#leftBtn:hover {
  cursor: pointer;
}

#leftBtn p {
  width: 76px;
  font-weight: 700;
  font-size: 20px;
  text-align: center;
}

#leftBtn img {
  width: 45px;
  margin: 8px 0;
}

#navList {
  display: flex;
  align-items: center;
  margin: 0 86.5px;
}

#searchLogo {
  background-color: #be2631;
  border-radius: 41px;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 43px;
}

#searchLogo:hover {
  cursor: pointer;
  background-color: #a9212a;
}

#searchLogo img {
  width: 21px;
  height: 21px;
}

#navList ul {
  width: 752px;
  display: flex;
  gap: 43px;
}

#navList ul li {
  display: block;
  padding: 3.5px 0;
  font-weight: 700;
  font-size: 20px;
  margin: auto;
}

#navList ul li:hover {
  color: #be2631;
  transition-duration: 300ms;
  cursor: pointer;
}

#logo {
  width: 148px;
  height: 81px;
}

body {
  overflow-x: hidden;
}

.mobileSideBar {
  display: none;
}

.openClose:hover {
  cursor: pointer;
}

/* Mobile Menu */
#mobileMenu {
  position: fixed;
  top: 0;
  left: 0;
  background-color: white;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  z-index: 1000;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-20px);
  transition: opacity 0.3s ease, transform 0.3s ease;
  overflow-y: auto;
  display: none;
  box-sizing: border-box;
}

#mobileMenu.show {
  display: block;
  opacity: 1;
  pointer-events: auto;
  transform: translateY(0);
}

.internalClose {
  display: flex;
  justify-content: flex-end;
  margin-bottom: 10px;
}

.internalClose img {
  cursor: pointer;
  margin-bottom: 30px;
}

.mobileSearchBar {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 30px;
  padding: 0 10px;
}

.mobileSearchBar input {
  flex: 1;
  outline: none;
  height: 45px;
  border-radius: 30px;
  border: 1px solid #ccc;
  padding: 0 15px;
  font-size: 16px;
}

#mobileMenu ul {
  list-style: none;
  padding: 0;
}

#mobileMenu li {
  text-align: center;
  margin: 30px 0;
  font-size: 20px;
  font-weight: 600;
}

#mobileMenu li a {
  text-decoration: none;
  color: black;
}

#mobileMenu li a:hover {
  color: #be2631;
  transition: color 0.3s ease;
}

#mobileMenu li:hover {
  color: #be2631;
}

.sideImg {
  width: 150px;
  border: 1px solid #4da05b;
  border-radius: 30px;
  display: flex;
  align-items: center;
  margin: 30px auto;
  justify-content: center;
  gap: 10px;
  line-height: 100%;
}

.sideImg:hover {
  cursor: pointer;
}

.mobileUl {
  margin-top: 100px;
}

.sideImg p {
  font-weight: 600;
  font-size: 15px;
  text-align: center;
  margin: 0;
}

.sideSvg {
  width: 25px;
}

body.no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* Desktop Search */
#desktopSearchWrapper {
  position: fixed;
  top: 138px;
  left: 0;
  width: 100vw;
  height: calc(100vh - 138px);
  background: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(8px);
  z-index: 999;
  display: none;
  transition: opacity 0.4s ease;
}

#desktopSearchWrapper.show-search {
  display: block;
  opacity: 1;
}

#desktopSearchWrapper.hidden {
  opacity: 0;
  display: none;
}

.searchBarContainer {
  margin: 50px auto;
  max-width: 600px;
  background: white;
  padding: 20px 30px;
  border-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}

.searchBarContainer input {
  flex: 1;
  border: none;
  outline: none;
  font-size: 18px;
}

.closeSearch {
  cursor: pointer;
}

/* Mobile Header */
@media (max-width: 767px) {
  #navList {
    display: none;
  }
  .navContainer {
    display: none;
  }
  nav {
    height: 80px;
  }
  .mobileSideBar {
    display: flex;
    align-items: center;
    gap: 180px;
    margin: 0 auto;
  }
  #searchLogo {
    margin: auto;
  }
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  .header-wrapper {
    width: 100%;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
  }
  .sideImg {
    flex-direction: row-reverse;
    height: 40px;
    align-items: center;
  }

  .sideImg p {
    font-weight: 700;
    font-size: 15px;
    text-align: center;
    margin-left: 4px;
  }
  .sideImg img {
    width: 30px;
    margin: 8px 0;
  }

  #logo {
    max-width: 100px;
    height: 55px;
  }
}

/* Tablet view */
@media (min-width: 768px) and (max-width: 1024px) {
  #navList {
    display: none;
  }
  .nav {
    height: 110px;
  }
  .header-wrapper {
    margin: auto;
    gap: 170px;
  }
  .no-scroll {
    overflow: hidden;
    height: 100vh;
  }
  #searchLogo {
    margin: auto;
  }
  .navContainer {
    display: none;
  }
  .mobileSideBar {
    display: flex;
    align-items: center;
    gap: 600px;
    margin: 0 auto;
  }
  #leftBtn {
    width: 170px;
    border: 1px solid #4da05b;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  #leftBtn p {
    font-weight: 700;
    font-size: 20px;
    text-align: center;
    margin-left: 4px;
  }
  #leftBtn img {
    width: 50px;
    margin: 8px 0;
  }
  .sideImg {
    flex-direction: row-reverse;
    height: 40px;
    align-items: center;
  }
}

/* Small laptop view */
@media (min-width: 1025px) and (max-width: 1280px) {
  nav {
    height: 128px;
    background-color: #ffffff;
    display: flex;
    justify-items: center;
  }
  .navContainer {
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
  .header-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  #leftBtn {
    width: 156px;
    border: 1px solid #4da05b;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4px;
  }
  #leftBtn p {
    width: 56px;
    font-weight: 600;
    font-size: 15px;
    text-align: center;
  }
  #leftBtn img {
    width: 35px;
    margin: 8px 0;
  }
  #navList {
    display: flex;
    align-items: center;
    margin: 0 86.5px;
  }
  #searchLogo {
    background-color: #be2631;
    border-radius: 41px;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 30px;
  }
  #searchLogo img {
    width: 15px;
    height: 15px;
  }
  #navList ul {
    width: 552px;
    display: flex;
    gap: 30px;
  }
  #navList ul li {
    padding: 3.5px 0;
    font-weight: 600;
    font-size: 15px;
    margin: auto;
  }
  #navList ul li:hover {
    color: #be2631;
    transition-duration: 300ms;
    cursor: pointer;
  }
}

@media (min-width: 1025px) {
  .mobileSideBar,
  #mobileMenu {
    display: none !important;
  }
}
