@import url("./cssFiles.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Tajawal", sans-serif;
  margin-top: 85px;
}

.container {
  width: 100%;
}

.heroh2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 178%;
  text-align: right;
}

.heropara {
  font-weight: 400;
  font-size: 18px;
  line-height: 178%;
  text-align: right;
}
