#lendingCards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
  margin-top: 30px;
  margin-bottom: 64px;
  gap: 20px;
}

#lending-services h2 {
  margin-bottom: 45px;
}

#servicesParagraph2 {
  margin-bottom: 40px;
}

.lendingContent {
  width: 423px;
  border-width: 1px;
  padding-right: 30px;
  padding-left: 30px;
  text-align: center;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.1);
  box-sizing: border-box;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-decoration: none;
  color: black;
}

#lendingText h2 {
  font-weight: 700;
  font-size: 20px;
  line-height: 178%;
  text-align: center;
}

#lendingText p {
  font-weight: 300;
  font-size: 15px;
  line-height: 178%;
  text-align: center;
  margin-bottom: 30px;
}

.lendingContent img {
  max-width: 100%;
  height: auto;
  margin-top: 30px;
}

/* responsive */

/* Mobile Screen */
@media (max-width: 767px) {
  #lending-services h2 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }

  #lending-services p {
    margin: auto 20px;
    font-size: 15px;
    text-align: center;
  }

  #lendingCards {
    flex-direction: column;
    align-items: center;
  }

  .lendingContent {
    width: 323px;
  }

  .lendingContent img {
    margin-top: 56px;
  }

  #lendingText h2 {
    font-weight: 500;
    font-size: 15px;
    text-align: center;
  }

  #lendingText p {
    font-size: 10px;
    margin-bottom: 58px;
  }
}

/* Tablet Screen */
@media (min-width: 768px) and (max-width: 1024px) {
  #lending-services h2 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }

  #lending-services p {
    margin: auto 20px;
    font-size: 20px;
    text-align: center;
  }
}

/* Small Laptop Screen */
@media (min-width: 1025px) and (max-width: 1280px) {
  #lending-services h2 {
    font-weight: 600;
    font-size: 20px;
    text-align: center;
  }

  #lending-services p {
    margin: auto 20px;
    font-size: 20px;
  }
}

@media (max-width: 1024px) {
  #lendingCards {
    justify-content: center;
  }
}
