.greenHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 0 -10px 30px rgba(0, 0, 0, 0.1);
}
.greenColor {
  width: 760px;
  height: 150px;
  background-color: #4da05b;
  position: relative;
}

.active-title {
  font-weight: 400;
  color: #545454;
  font-size: 18px;
}
/* gray color */
.gray1,
.gray2,
.gray3 {
  position: absolute;
  height: 100%;
  background-color: #d8d8d8;
}

.gray1 {
  width: 8px;
  left: 705px;
}

.gray2 {
  width: 16px;
  left: 718px;
}

.gray3 {
  width: 22px;
  left: 739px;
}

/* Green Header Title */
.greenTitle {
  width: 520px;
  margin-right: 283px;
}

.greenTitle h2 {
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  margin-bottom: 5px;
}

.greenTitle div p {
  color: #787878;
  font-weight: 400;
  font-size: 18px;
  line-height: 156%;
  text-align: right;
}

.greenTitle div p span {
  font-weight: 500;
  line-height: 156%;
  text-align: right;
  margin: auto 5px;
}

/* Mobile screen */
@media (max-width: 767px) {
  .gray1,
  .gray2,
  .gray3 {
    display: none;
  }

  .greenHeader {
    height: 90px;
  }

  .greenColor {
    width: 100vw;
    height: 100%;
  }
  .greenTitle {
    width: 520px;
    margin: 20px auto;
    text-align: center;
  }
  .greenTitle h2 {
    font-weight: 600;
    font-size: 15px;
  }
  .greenTitle div p {
    font-size: 10px;
    text-align: center;
  }
}

/* Tablet Screen */
@media (min-width: 768px) and (max-width: 1024px) {
  .gray1,
  .gray2,
  .gray3 {
    display: none;
  }
  .greenColor {
    width: 100vw;
    height: 1;
  }
  .greenTitle {
    width: 550px;
    margin: 20px auto;
    text-align: center;
  }
  .greenTitle h2 {
    font-weight: 600;
    font-size: 20px;
  }
  .greenTitle div p {
    font-size: 15px;
    text-align: center;
  }
}

/* Small Laptop Screen */
@media (min-width: 1025px) and (max-width: 1280px) {
  .gray1,
  .gray2,
  .gray3 {
    display: none;
  }
  .greenColor {
    width: 100vw;
    height: 1;
  }
  .greenTitle div p {
    font-size: 20px;
    text-align: right;
  }
}

@media (min-width: 1281px) and (max-width: 1400px) {
  .gray1,
  .gray2,
  .gray3 {
    display: none;
  }
  .greenColor {
    width: 100vw;
    height: 1;
  }
  .greenTitle div p {
    font-size: 20px;
    text-align: center;
  }
}

@media (max-width: 1745px) {
  .gray1,
  .gray2,
  .gray3 {
    display: none;
  }
}
