#carCard {
  max-width: 1350px;
  width: 100%;
  height: 477px;
  display: flex;
  align-items: center;
  margin-top: 20px;
  border-radius: 30px;
  background: linear-gradient(to right, #676767, #ffffff, #f2f2f2);
  overflow: hidden;
  position: relative;
}

#carWrapper {
  width: 100%;
  height: 477px;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}

#carSliderContainer {
  display: flex;
  flex-direction: column;
  height: 477px;
  transition: transform 0.6s ease;
  will-change: transform;
}

#carContent {
  width: 1241px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  flex-shrink: 0;
  height: 477px;
  box-sizing: border-box;
  align-items: center;
}

#carSlider {
  width: 50px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  position: absolute;
  top: 50%;
  left: 20px;
  transform: translateY(-50%);
  z-index: 10;
}

#carSlider div {
  width: 20px;
  height: 20px;
  border-radius: 100%;
  background-color: #28282859;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#carSlider div.active {
  background-color: #000000;
}

#image-wrapper {
  margin-left: 9%;
  position: relative;
  width: 535px;
  height: 342px;
}

#car-background {
  position: absolute;
  width: 100%;
  background-color: #ffffff52;
  border-radius: 46px;
  height: 100%;
  z-index: 0;
}

#image-wrapper img {
  position: absolute;
  object-fit: contain;
  top: 32px;
  width: 100%;
  z-index: 1;
  transform: translateX(-5%);
}

#carText {
  margin-right: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

#carText div {
  margin-bottom: 30px;
}

#carText h2 {
  font-weight: 700;
  font-size: 25px;
  line-height: 156%;
  text-align: right;
}

#carText p {
  font-weight: 400;
  font-size: 15px;
  line-height: 156%;
  text-align: right;
}

#pal-service {
  font-weight: 400;
  font-size: 20px;
  color: #656565;
  margin-top: 8px;
  margin-bottom: 53px;
}

.pal-service2 p {
  width: 100%;
  max-width: 477px;
  font-weight: 700;
  font-size: 25px;
  text-align: end;
  margin: 10px auto;
}

/*  Mobile View  */
@media (max-width: 767px) {
  #carSlider {
    display: none;
  }

  #car-background {
    display: none !important;
  }

  #carText h2 {
    font-weight: 600;
    font-size: 23px;
    text-align: center;
  }

  #carText p {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
  }

  .pal-service2 {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
  }

  #carCard {
    max-width: 400px;
    width: 90vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 30px auto 0 auto;
    border-radius: 30px;
    background: linear-gradient(to bottom, #676767, #a7a7a7, #f2f2f2);
    padding: 20px;
    box-sizing: border-box;
    text-align: center;
  }

  #carContent {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
  }

  #image-wrapper {
    width: 100%;
    max-width: 220px;
    height: auto;
    position: relative;
  }

  #image-wrapper img {
    position: relative;
    width: 100%;
    height: auto;
    top: 0;
    left: 0;
    z-index: 1;
    object-fit: contain;
  }

  #carText {
    width: 100%;
    max-width: 300px;
    font-weight: 700;
    font-size: 20px;
    line-height: 140%;
    text-align: center;
    margin: 0;
    z-index: 2;
  }

  #pal-service {
    font-size: 14px;
    margin-top: 5px;
    margin-bottom: 20px;
  }

  .pal-service2 {
    font-size: 16px;
  }
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1024px) {
  #carSlider {
    display: none;
  }

  #car-background {
    display: none !important;
  }

  #carCard {
    width: 700px;
    height: auto;
    margin: 30px auto;
    border-radius: 30px;
    background: linear-gradient(to right, #676767, #ffffff, #f2f2f2);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
  }

  #carContent {
    width: 100%;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 15px;
    position: relative;
  }

  #image-wrapper {
    width: 250px;
    height: auto;
  }

  #image-wrapper img {
    position: relative;
    top: 0;
    width: 100%;
  }

  #carText {
    width: 100%;
    max-width: 450px;
    font-weight: 700;
    font-size: 22px;
    line-height: 150%;
    text-align: center;
  }

  #carText h2 {
    font-weight: 600;
    font-size: 23px;
    text-align: center;
  }

  #carText p {
    font-weight: 400;
    font-size: 15px;
    text-align: center;
  }

  .pal-service2 {
    font-weight: 400;
    font-size: 17px;
    text-align: center;
  }
}

/* Small laptop */
@media (min-width: 1025px) and (max-width: 1280px) {
  #carCard {
    max-width: 1000px;
    width: 100%;
    height: 420px;
    margin: 30px auto 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
    background: linear-gradient(to right, #676767, #ffffff, #f2f2f2);
    position: relative;
    overflow: hidden;
  }

  #carWrapper {
    width: 100%;
    height: 420px;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  #carSliderContainer {
    display: flex;
    flex-direction: column;
    transition: transform 0.6s ease;
    will-change: transform;
  }

  #carContent {
    width: 920px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    flex-shrink: 0;
    height: 420px;
    box-sizing: border-box;
    align-items: center;
  }

  #carText {
    width: 430px;
    font-size: 24px;
    line-height: 150%;
    margin-right: 30px;
  }

  #carText h2 {
    font-family: Tajawal;
    font-weight: 600;
    font-size: 24px;
    text-align: center;
  }

  #carText p {
    font-family: Tajawal;
    font-weight: 400;
    font-size: 15.5px;
    text-align: center;
  }

  .pal-service2 {
    font-family: Tajawal;
    font-weight: 400;
    font-size: 18px;
    text-align: center;
  }

  #pal-service {
    font-size: 15.5px;
    margin-top: 8px;
    margin-bottom: 25px;
  }

  #image-wrapper {
    width: 380px;
    height: 270px;
    position: relative;
  }

  #car-background {
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ffffff52;
    border-radius: 46px;
    z-index: 0;
  }

  #image-wrapper img {
    width: 100%;
    height: auto;
    object-fit: contain;
    position: absolute;
    top: 32px;
    left: 0;
    z-index: 1;
    transform: translateX(-5%);
  }

  #carSlider {
    width: 40px;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    z-index: 10;
  }

  #carSlider div {
    width: 25px;
    height: 25px;
    border-radius: 100%;
    background-color: #28282859;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }

  #carSlider div.active {
    background-color: #000000;
  }
}
